@import '../../assets/css/variables.css';

.header {
  color: var(--colorWhite);
  top: 5;
  width: 100vw;
  height: var(--headerHeight);
  z-index: var(--zIndexHeader);
}

.header::after {
  content: "";
  background: url('components/header/img/background.png');
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
.navMenu {
  position: absolute;
  right: 5vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: var(--headerHeight);
}

.icon {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  height: var(--headerHeight);
  left: 12vw;
  top: 4px;

}

.hamburger {
  position: relative;
  z-index: var(--zIndexHamburger);
}

.title {
  font-family: Medium, Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  padding-right: 5vh;
}

@media (--small) {
  .title {
    font-size: .485rem;
  }

  .navMenu {
    right: 2vw;
  }

  .icon {
    left: 10vw;
  }

  .github {
    display: none;
  }
}
