@import '../assets/css/variables.css';

.page {
  padding-top: var(--headerHeight);
  min-height: 100vh;
  background: url('assets/img/background-min.jpg'), url(http://wallpapercave.com/wp/PWPdLDZ.jpg);
  background-size: cover;
  background-color: grey;
  background-blend-mode: screen, multiply;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.intro {
  color: var(--colorWhite);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.intro h1 {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 3.95rem;
  text-align: center;
  position: absolute;
  top: 25vh;
  left: 20vh;
  right: 20vh;
  bottom: 40vh;
}

.intro h2 {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 2.05rem;
  text-align: center;
  position: absolute;
  top: 35vh;
  left: 20vh;
  right: 20vh;
  bottom: 40vh;
}

.particles {
  position: fixed;
}

.link {
  border-bottom: 2px solid var(--colorWhite);
}

@media (--small) {
  .intro h1 {
    font-size: 1.142rem;
  }
  .link {
    border-width: 1px;
  }
}
